<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Our Team</title>
  </head>
  <body>
    <%- include("blocks/header") -%>
    <div class="container">
      <div class="photo">
        <img src="/home_photo.jpg" alt="student_photo" />
      </div>
      <div class="about">
        <div class="name">Our team</div>
        <div class="info">
          <p>
            In a bustling university town, three students — Arsenych Natali,
            Pirozhenko Daria, and Shepel Natali — combined their love for
            storytelling and technology to create a magical website filled with
            enchanting fairy tales for children.
          </p>
          <p>
            Their project enchanted both professors and parents, sparking a love
            for reading and learning in children and leaving a lasting impact on
            young minds.
          </p>
        </div>
      </div>
    </div>
    <%- include("blocks/footer") -%>
  </body>
</html>
