<footer>
  <div class="social_m">
    <a href="https://github.com/notalochka/Node.js-lab2.git" target="_blank"
      >GitHub</a
    >
  </div>
  <div class="header_div1">
    <p>NDN</p>
  </div>
</footer>
