<header>
  <div class="header_div1">
    <p>NDN</p>
  </div>
  <div class="header_div2">
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about/Arsenych">Arsenych</a></li>
        <li><a href="/about/Pirozhenko">Pirozhenko</a></li>
        <li><a href="/about/Shepel">Shepel</a></li>
      </ul>
    </nav>
  </div>
</header>
